<div class="card">
    <div class="card-body">
        <h5 class="card-title" *ngIf="productId!='0'">Edit product</h5>
        <h5 class="card-title" *ngIf="productId=='0'">Create new product</h5>
        <form [formGroup]="productForm">
            <div class="px-4  rounded">
                <div class="row g-3">
                    <div class="col-md-6">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" placeholder="Enter name..." value=""
                            formControlName="name" [ngClass]="{ 'is-invalid': productName!.errors && (addEditFormSubmitted || productName!.dirty || productName!.touched) , 
                        'is-valid': !productName!.errors && (productName!.dirty || productName!.touched)}">
                        <div id="validationDiv"
                            *ngIf="productName && productName!.errors && (addEditFormSubmitted || productName.dirty || productName.touched)">
                            Product name is reqruired!
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="price" class="form-label">Price</label>
                        <input type="text" class="form-control" placeholder="Enter price..." formControlName="price"
                            id="price" [ngClass]="{ 'is-invalid': productPrice!.errors && (addEditFormSubmitted || productPrice!.dirty || productPrice!.touched) , 
                        'is-valid': !productPrice!.errors && (productPrice!.dirty || productPrice!.touched)}">
                        <div id="validationDiv"
                            *ngIf="productPrice && productPrice!.errors && (addEditFormSubmitted || productPrice.dirty || productPrice.touched)">
                            Product price must be greater than 0!
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label for="expiryDate" class="form-label" placeholder="Expiry date...">Expiry date</label>
                        <input type="date" class="form-control" id="expiryDate" formControlName="expiryDate"
                            [ngClass]="{ 'is-invalid': productExpiryDate!.errors && (addEditFormSubmitted || productExpiryDate!.dirty || productExpiryDate!.touched) , 
                    'is-valid': !productExpiryDate!.errors && (productExpiryDate!.dirty || productExpiryDate!.touched)}">
                        <div id="validationDiv"
                            *ngIf="productExpiryDate && productExpiryDate!.errors && (addEditFormSubmitted || productExpiryDate.dirty || productExpiryDate.touched)">
                            Product expiry date is reqruired!
                        </div>

                    </div>
                    <div class="col-md-12">
                        <label for="manufacturer" class="form-label">Manufacturer</label>
                        <div class="col-sm" id="manufacturer">
                            <select class="form-select" formControlName="manufacturer"
                                [(ngModel)]="selectedManufacturerId" (change)="onChangeManufacturer($event)"
                                [ngClass]="{ 'is-invalid': productManufacturer!.errors && (addEditFormSubmitted || productManufacturer!.dirty || productManufacturer!.touched) , 
                        'is-valid': !productManufacturer!.errors && (productManufacturer!.dirty || productManufacturer!.touched)}">
                                <option value="" style="text-align: center;">-- Select manufacturer --</option>
                                <option value="{{manufacturer.id}}" *ngFor="let manufacturer of manufacturers">
                                    {{manufacturer.name}}
                                </option>
                            </select>
                            <div id="validationDiv"
                                *ngIf="productManufacturer && productManufacturer.errors && (addEditFormSubmitted || productManufacturer.dirty || productManufacturer.touched)">
                                Product manufacturer is reqruired!
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="button__container">
                <button type="button" class="btn btn-secondary" (click)="back()">Back</button>
                <button type="button" class="btn btn-success" (click)="saveProduct()">Save</button>
            </div>

        </form>
    </div>
</div>