<ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" routerLink="/products" >Products</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/about">About</a>
    </li>
  </ul>