<div class="card">

  <div class="card-body">
    <button type="button" class="btn btn-primary" (click)="createProduct()">Add new product</button>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">Manufacturer</th>
          <th scope="col">Expiry date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td>{{product.id}}</td>
          <td>{{product.name}}</td>
          <td>{{product.price}}</td>
          <td>{{product.manufacturer!.name}}</td>
          <td>{{product.expiryDate | date :'dd.MM.yyyy'}}</td>
          <td>
            <button type="button" class="btn btn-secondary" (click)="createProduct(product.id)">Edit</button>
          </td>
          <td>
            <button type="button" class="btn btn-danger" (click)="deleteProduct(product.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>